
<% if logged_in? %>

	<li><%= link_to add_to_cart_path(1) do %> 
			<i class="small material-icons prefix left">shopping_cart</i> Cart (<%= @cart_count%>)
			<%end%>
	</li>
		
<!-- 	<li> <%= link_to "Cart (#{@cart_count})", add_to_cart_path(1) %> </li> -->	


	<li><%= link_to "Welcome, #{current_user.first_name}", user_path(current_user) %></li>
	<li><%= link_to "Edit settings", edit_user_path(current_user) %></li>
	<li><%= link_to "Logout", logout_path %></li>

<% else %>
    <%= link_to 'Login', login_path %>
           
<% end %>
