
<% if logged_in? %>

	<!-- Dropdown Structure -->
	<ul id="dropdown_profile" class="dropdown-content">

		<li>
			<%= link_to "Your Profile", user_path(current_user) %>
		</li>

		<li>

			<%= link_to "Edit settings", edit_user_path(current_user) %>
		</li>

		<li> 
			<%= link_to "Logout", logout_path %> 
		</li>
	</ul>


	<nav> 

		
		<div class="nav-wrapper">

			<ul class="right hide-on-med-and-down">

				<% if logged_in? && current_user.role == "customer" %> 

					<li> 
						<%= link_to "My Orders", orders_path %>
					</li>

				<% end %> 

				<% if current_user.role == "admin" || current_user.role == "manager" %>

					<li><%= link_to orders_path do %> 
					<i class="small material-icons prefix left">card_membership</i> All Orders&nbsp;&nbsp; 
						<% end %>

					</li>


					<li><%= link_to schools_path do %> 
					<i class="small material-icons prefix left">location_city</i> All Schools&nbsp;&nbsp; 
						<% end %>


					</li>

					<li> 
					<%= link_to users_path do %> 
							<i class="small material-icons prefix left">supervisor_account</i> All Users&nbsp;&nbsp; 
						 <% end %> 

					</li>
				<% end %>

				<li><%= link_to cart_path do %> 
					<i class="small material-icons prefix left">shopping_cart</i> My Cart&nbsp;&nbsp; 
					<% if @cart.size > 0 %> 
						<span class="new badge" data-badge-caption=""><%= @cart.size %></span>
					<% end %>
					<% end %>
				</li>

				
				<li id="special-icon"> 
					<a class="dropdown-button" href="#!" data-activates="dropdown_profile">
						<div class="avatar left">
							<% if current_user.picture? %> 
								<%= image_tag(current_user.picture_url, class:"circle icon", size:"40x40") %>
							<% else %> 
								<%= image_tag "missing_pic.png", class: "circle icon", size: "40x40"%>
							<% end %> 
			 			</div>
						&nbsp;Welcome, <%= current_user.first_name%> 
						<i class="material-icons right">arrow_drop_down</i>
					</a>
				</li>
				

			</ul>


		</div>
	</nav>


<% else %>
    <%= link_to 'Login', login_path %>   
<% end %> 



       