<div class="row">
  <div class="col s2">
  </div>
  <div class="col s10">

<%= simple_form_for @user do |f| %>
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h5 class="heading"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h5>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <p class="text">- <%= msg %></p>
      <% end %>
      <br/>
      </ul>
    </div>

  <% end %>

	<div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <% if logged_in? && current_user.role == "admin" %> 
    <div class="field" id = "role">
      <%= f.input(:role, as: :select, collection: User::ROLES)%>
    </div>
  <% end %>

  <div class="field"> 
    <%= f.label :picture %><br /> 
    <%= f.file_field :picture %>
  </div>

  <p><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></p>

<% end %>
</div>
</div>