<ul class="collection">
  	<% user.each do |u| %> 
	  	
	    <li class="collection-item avatar">
	 
	 		<% if u.picture? %> 
	 			<%= image_tag(u.picture_url, :class => "circle") %>

	 		<% else %> 
	 			<%= image_tag "missing_pic.png", :class => "circle" %>
	 		<% end %> 
	       
	      <p class="collapsible-text link text"> 

	      	<%= link_to u.proper_name.upcase, user_path(u.id) %> <br/> 
	      	<%= u.role.capitalize %> <br/>
	      	<%= u.phone %> 
	      </p>
	      
	    
	     
	    </li>
	  	

	<% end %>
</ul>
