<div class="row">
    <div class="col s5 offset-s3">
        
        <canvas id="myChart" width="200" height="200"></canvas>

        <div id="chartjs1">

            <script>

            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: <%=raw(@last5days)%>,
                    datasets: [{
                        label: 'Revenue',
                        yAxisID: 'y-axis-1',
                        data: <%=raw(@revenue)%>,
                        borderColor: "rgba(0, 105, 92, 0.5)", 
                        backgroundColor: "rgba(255,255,255,0)", 
                        borderWidth: 3
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                      beginAtZero: true, 
                      fontFamily: "Source Sans Pro"
                    },
                        position: "left",
                        "id": "y-axis-1", 
                        scaleLabel: {
                    display: true,
                    labelString: 'Revenue in Dollars'
                  }
                      }]

                    }
                }
            });

            </script>
        </div>
    </div>

    <div class="col-sm-pull-4">
       
        <h5 class="heading"> Recent Customers </h5>
        <ul class="collection">
            <% @customers.each do |u| %> 
                
                <li class="collection-item avatar">
             
                    <% if u.picture? %> 
                        <%= image_tag(u.picture_url, :class => "circle") %>

                    <% else %> 
                        <%= image_tag "missing_pic.png", :class => "circle" %>
                    <% end %> 
                   
                  <p class="collapsible-text link text"> 

                    <%= link_to u.proper_name.upcase, user_path(u.id)%> <br/>
                    <%= u.phone %> 
                  </p>
                  
                  
                </li>
                

            <% end %>
        </ul>

    </div>


</div>
