<h4 class="heading"><%=@category%></h4>

<br/>

<% @items.each do |item| %> 
<div class="col s12">
	<div class="card horizontal">
		<div class="card-image">
			<%= image_tag('img_not_available.png', border:0)%>
		</div>

		<div class="card-stacked">
			<div class="card-content">
				<h5 class="heading"> 
					<div class="link">
					<%= link_to item.name, item_path(item) %>
					</div>
				</h5>

				<h5 class="heading">
					<%= item.current_price.nil? ? "N/A" : number_to_currency(item.current_price) %>
				</h5>

				<p class="text">
					Get it on or before <%= 4.days.from_now.strftime("%m/%d/%y") %>
					<% if logged_in? && current_user.role != "customer" %>
            			Inventory level: <%= item.inventory_level %>
            		<% end %>
				</p>
			</div>

			<div class="card-action">
				<%= link_to("Add to Cart", add_to_cart_path(item.id)) %>
			</div>
		</div>

	</div>
</div>

<br/>

<% end %>


