<div id="reorder_items">

	<% if @reorder_items.empty? %> 
		<p class="text">
			There are no items at this time to reorder. Nice! 
		</p>
				<p> &nbsp;&nbsp; </p>
				<p> &nbsp;&nbsp; </p>
				<p> &nbsp;&nbsp; </p>
				<p> &nbsp;&nbsp; </p>
				<p> &nbsp;&nbsp; </p>
				<p> &nbsp;&nbsp; </p>
				<p> &nbsp;&nbsp; </p>
				<p> &nbsp;&nbsp; </p>
				<p> &nbsp;&nbsp; </p>
	<% else %> 

			<h5 class="heading"> 
				Reorder List
			</h5>

			<% @reorder_items.each do |i| %> 

				<div class="card horizontal smaller">

					<div class="card-stacked">
						<div class="card-content">

						
							<% if i.reorder? == true %> 
								<p class="link text">
								<%= link_to i.name, item_path(i.id) %> <br/>
								Inventory: <%= i.inventory_level%> <br/>
								Reorder: <%= i.reorder_level%> <br/> <br/>

								<div id="this_reorder_item_<%=i.id%>">
								 <button class="waves-effect waves-light btn acc"><%= link_to("Reorder", new_purchase_path(item_id: i.id), remote: true) %></button>
								</div>

								</p>
							<% end %>
					
						</div> <!-- Close card content --> 

					</div> <!-- Close card-stacked --> 

				</div> <!-- Closed card horizontal -->

				
			<% end %>

		<% end %>
</div>