
<div class="col s12">
	<% @orders.each do |o| %> 

	<ul class="collapsible" data-collapsible="accordion">
	<li>
      <div class="collapsible-header">

      	<h5 class="collapsible-heading"> 
		    </h5>


		    <table>
        <tbody>
          <tr>
          <td class="collapsible-text"><i class="material-icons left">input </i>ORDER ID: <%= o.id %></td>	
          <td class="link text"><i class="material-icons left">person_pin </i><%=o.user.proper_name%></a>
          </td>

          <td class="collapsible-text"><i class="material-icons left">schedule </i>PLACED: <%=o.date.strftime("%m/%d/%y")%> 
          </td>
          <td> 
            <i class="material-icons right">arrow_drop_down</i>
          </td>
            
          </tr>
        </tbody>
      	</table>
   
  
      </div>

      <div class="collapsible-body">

        <p class="collapsible-text">
          <i class="material-icons left">call</i> <%= o.user.phone%>
          <br/><br/>
          <i class="material-icons left">email</i><a href="mailto:<%= o.user.email%>" class="link text"><%= o.user.email%></a>


        </p>
        <br/>
      	
      	<table>
        
        	<thead>
        	<tr>
        		<th class="text">ITEM NAME</th>
        		<th class="text">QUANTITY</th>
        		<th class="text">STATUS</th>
        	</tr>
	        </thead>

	       <tbody>
	        <!-- For each order item in order... --> 
	        <% o.order_items.each do |oi| %> 
	       		<% if oi.shipped_on.nil? %> 
	       		<tr>
	       			<td class="link text"> <%= link_to oi.item.name, item_path(oi.item) %> </td>
	       			<td class="collapsible-text"> <%= oi.quantity%></td>

	       			<td class="link text"> <button class="waves-effect waves-light btn acc"><%= link_to("Mark As Shipped", remove_from_shipping_list_path(oi.id), remote: true) %></button></td>
	       		 </tr>
	       		<% end %>
			<% end %>
        </tbody>
      	</table>


      </div>

    </li>
   
  	</ul>
 
	<% end %>	
</div>

