<%= simple_form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Order </legend>


    <div class="field">
    <%= f.input :school_id, as: :select, :collection => School::SCHOOL_LIST, :prompt => true, class: 'dropdown-content' %>
    </div>

    <%= f.input :school_name %> 

    <%= f.input :school_street_1 %> 

    <%= f.input :school_street_2 %> 

    <%= f.input :school_zip %> 

    <%= f.input :school_state %> 

    <%= f.input :school_city %> 

    <%= f.input :credit_card_number %> 

    <%= f.input :expiration_year %> 

    <%= f.input :expiration_month %> 


    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel',orders_path, :class => 'button alert radius' %>
    </div>

  </fieldset>
<% end %>
