<div class="row">
  <div class="col s5">
    <div id="preview">
     <%= image_tag 'img_not_available.png' %>
    </div>



  </div>

  <div class="col s5 offset-s1">
     <h4 class="heading"><%= @item.name %></h4>

     <div id="price"> 
      <%= @item.current_price.nil? ? 'N/A' : number_to_currency(@item.current_price) %>
     </div>

     <p class="text">
      <%= @item.description %>
     </p>

     <% if logged_in?%>
        <p class="link text">
          <%= link_to("Add to Cart", add_to_cart_path(@item.id), class: 'button tiny radius') %>
          &nbsp;&nbsp; | &nbsp;&nbsp;
          <% if current_user.role == "manager" || current_user.role == "admin" %> 

       <%= link_to(eval("edit_item_path(@item)"), class: 'button radius') do %>
        &nbsp;<%= "Edit Item" %>
    <% end %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    
    <%= link_to(eval("item_path(@item)"), method: 'delete', data: {confirm: "Are you sure you want to permanently delete @item.name?"}, class: 'button radius alert') do %>
        &nbsp;<%= "Delete Item" %>
    <% end %>


          <% end %>

        </p>

      <% else %> 
        <p class="link text">
          <%= link_to("Add to Cart", login_path, class: 'button tiny radius') %>
        </p>

      <% end %>

     

<% if logged_in? && current_user.role != "customer" %> 
<p class="text">
  Inventory Level: <%= @item.inventory_level.nil? ? 'N/A' : @item.inventory_level %>
</p>

<% unless current_user.role == "shipper" %>

  <p class="text">
    Reorder Level: <%= @item.reorder_level.nil? ? 'N/A' : @item.reorder_level %>
  </p>

<% end %>

<% end%> 

<p class="text">
  Category: <%= @item.category.capitalize %>
</p>

<p class="text">
  Color: <%= @item.color.nil? ? 'N/A' : @item.color %>
</p>

<p class="text">
  Total weight: <%= @item.weight.nil? ? 'N/A' : @item.weight %> lbs.
</p>

<% if logged_in? && current_user.role != "customer" %> 
<p class="text">
  Active: <%= @item.active ? 'Yes' : 'No' %>
</p>
<% end %> 

  </div>

</div>







