<% if school.empty? %> 

	<p class="text"> There are no relevant schools at this time. </p>

<% else %>

<% school.each do |a| %> 
	<div class="col s12">
		<div class="card horizontal">
			<div class="card-stacked">
				<div class="card-content">
					
					<p class="text">
						<%= a.name %> <br/>
						<%= a.street_1 %> <br/>
						<%=a.city%>, <%=a.state%> <%=a.zip%>
					</p>
				</div>

			</div>

		</div>
	</div>
<% end %> 
<% end %>